body{
    background: #0c00e8;
    background: #ff4d00;
    background: linear-gradient(0deg, rgba(255, 77, 0, 1) 37%, rgba(255, 191, 0, 1) 10%, rgba(255, 140, 0, 1) 53%, rgba(253, 187, 45, 1) 100%);
}

.glass-card {
  max-width: 400px;
  padding: 0px;
  border-radius: 100px;

  font-family:Arial, sans-serif;
}

.glass-title {
  margin-top: 0;
  font-size: 24px;
}

.glass-text {
  line-height: 1.5;
  margin-bottom: 0;
}
.text{
  max-width: 4000px;
  padding:70px;
  border-radius: 2000px;
  font-size: 30px;
  
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
p:hover{
    transform: scale(1.2);
    transition: 2s all;
}
img:hover{
    transform: scale(1.2);
    transition: 2s all;
}
